<h2>Ошибка авторизации</h2>
<p>Неверная пара логин/пароль. <%= link_to "Попробуйте еще раз", '/session/auth' %> или обратитесь к администратору для восстановления доступа или создания учетной записи %></p>