<table border="1">
  <caption>Найденные числа Мерсена</caption>
  <tr>
    <th>№</th>
    <th>Число</th>
  </tr>
  <% @result.each_with_index do |x,i| %>
          <tr><td><%= i + 1 %></td><td><%= x %></td></tr>
          <tr><td><%= x %></td><td><%= x %></td></tr>
  <% end %>
</table>

