<div align = "center">


<font color = "000080" face = "Courier New">

	<h1>Поздравляем!</h1>
	<h2>Ваш запрос оправлен! С вами свяжется менеджер.</h2>
	
	<br/>
	<br/>
	
	<h2> Телефон: <%= @result[0] %> </h2>
	<h2> Пицца: <%= @result[1] %> </h2>
	<h2> Адрес: <%= @result[2] %>  </h2>
	
</font>

</div>
