<div class="fld">
<h1>Сведения о последнем местоположении - администратор</h1>
<p>На карте выведена метка, принадлежащая вам. Используйте кнопку, чтобы увидеть все остальные.</p>
</div>
<div class="wrap">
<div id="map"></div>
</div>
<button onclick="every_point()">Все точки</button>
<button onclick="act()">Сохранить свою метку</button>
