<div id="fld">
<h1>Сведения о последнем местоположении</h1>
<p>Перетащите метку в нужное место и сохраните нажатием соответствующей кнопки.</p>
</div>
<div id="wrap">
<div id="map"></div>
</div>
<button onclick="act()">Сохранить</button>
